<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="app03.StudentMapper">
    <!-- 配置resultMap(建立实体类与映射关系)-->
    <resultMap id="studentMap" type="app03.Student">
        <id property="id" column="stuId"/>
        <result property="name" column="stuName"/>
        <result property="sal" column="stuSal"/>
    </resultMap>

    <!-- 学生添加 -->
    <insert id="add" parameterType="app03.Student">
        insert into student(stuId,stuName,stuSal) values (#{id},#{name},#{sal})
    </insert>

    <!-- 无条件分页查询 -->
    <select id="findAllByPage" parameterType="map" resultMap="studentMap">
        select stuId,stuName,stuSal from student limit #{start},#{size}
    </select>

    <!-- 有条件分页查询 -->
    <!--<select id="findByNameByPage" parameterType="map" resultMap="studentMap">
        select * from student where stuName like concat('%',#{pname},'%') limit #{start},#{size}
    </select>-->

    <!--
        方式1：CONCAT('%',#{pname},'%')
        方式2：CONCAT('%',${pname},'%')
    -->
    <select id="findByNameByPage" parameterType="map" resultMap="studentMap">
        select * from student where stuName like concat('%','${pname}','%') limit #{start},#{size}
    </select>
</mapper>