<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="app07.StudentMapper">
    <resultMap id="studentMap" type="app07.Student">
        <id property="id" column="stuId"/>
        <result property="name" column="stuName"/>
        <result property="sal" column="stuSal"/>
    </resultMap>

    <!-- sql片段对应字段，id属性为任意
         insert into student(stuId,stuName,stuSal) values(11,'继达',8000);
         insert into student(sql片段1（key）) values(sql片段2（value）);
    -->
    <sql id="key">
        <!-- 去掉最后一个逗号 -->
        <trim suffixOverrides=",">
            <if test="id!=null">
                stuId,
            </if>
            <if test="name!=null and name!=''">
                stuName,
            </if>
            <if test="sal!=null">
                stuSal,
            </if>
        </trim>
    </sql>

    <!-- sql片段对应为字段填充的值，id属性为任意 -->
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="sal!=null">
                #{sal},
            </if>
        </trim>
    </sql>

    <!-- 学生添加
        <include refid="key"/>和<include refid="value"/>表示引入上面定义的sql片段
    -->
    <insert id="studentInsertByParts" parameterType="app07.Student">
        insert into student (<include refid="key"/>) values (<include refid="value"/>)
    </insert>
</mapper>
