<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<import resource="app02/springmvc-app02.xml"/>-->
    <!--<import resource="app03/springmvc-app03.xml"/>-->
    <!--<import resource="app04/springmvc-app04.xml"/>-->
    <!--<import resource="app05/springmvc-app05.xml"/>-->
    <!--<import resource="app06/springmvc-app06.xml"/>-->
    <!--<import resource="app07/springmvc-app07.xml"/>-->
    <!--<import resource="app08/springmvc-app08.xml"/>-->
    <!--<import resource="app09/springmvc-app09.xml"/>-->
    <!--<import resource="app10/springmvc-app10.xml"/>-->
    <!--<import resource="app11/springmvc-app11.xml"/>-->
    <!--<import resource="app12/springmvc-app12.xml"/>-->
    <import resource="app13/springmvc-app13.xml"/>
</beans>
