<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="app11.StudentMapper">
    <!--
        eviction：缓存的回收策略，包括FIFO/LRU/SOFT/WEAK，默认的是LRU
        flushInterval：缓存情况间隔，以毫秒为单位
        readOnly：是否只读
            true:只读，从mybatis的缓存中获取数据，不会修改，不安全，但速度快
            false：非只读，mybatis通过序列化与反序列化克隆的方式进行数据读取，安全，但速度慢
        size：缓存多少个元素
    -->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

    <resultMap id="studentMap" type="app11.Student">
        <id property="id" column="stuId"/>
        <result property="name" column="stuName"/>
        <result property="sal" column="stuSal"/>
    </resultMap>

    <!-- 查询所有学生 -->
    <select id="findAll" resultMap="studentMap">
        select * from student
    </select>
</mapper>